/* GERAL */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #023047;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.logo img {
    width: 190px;
}

.btn-contato button {
    padding: 1em 3em;
    font-size: 15px;
    font-weight: 700;
    background-color: #EE9B00;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-social button {
    width: 3em;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #EE9B00;
    font-size: 35px;
    cursor: pointer;
    margin: 1% 1%;
    transition: 0.2s;
}

button:hover,
form input[type=submit]:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #ee9b0085;
}

h2.titulo {
    color: white;
    font-size: 35px;
    text-align: center;
}

h2.titulo span {
    color: #EE9B00;
}

/* CABEÇALHO */

header {
    padding: 3% 4%;
    background-color: #000814;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.3s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 3em;
}

/* menu bobile */
.btn-abrir-menu i{
    color: #EE9B00;
    display: none;
    font-size: 50px;
}
.overlay-menu{
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 40;
}
.menu-mobile {
    background-color: #000000;
    height: 100vh;
    width: 0%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    transition: 0.3s;
}
.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 1em 10%;
}
.menu-mobile nav ul li a:hover{
    background-color: #EE9B00;
    color: black;
}
.menu-mobile .btn-fechar{
    padding: 1% 5%;
}
.menu-mobile .btn-fechar i{
    color: #EE9B00;
    font-size: 4em;
}

    /* TOPO DO SITE */

    section.topo-site {
        padding: 6em 10%;
    }

    section.topo-site .flex {
        align-items: center;
        justify-content: center;
        gap: 15%;
    }

    .topo-site h1 {
        color: white;
        font-size: 50px;
    }

    .topo-site .txt-topo-site h1 span {
        color: #EE9B00;
    }

    .topo-site .txt-topo-site p {
        color: white;
        margin: 4% 0;
    }

    .topo-site .img-topo-site img {
        position: relative;
        width: 350px;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    @keyframes flutuar {
        0% {
            top: 0;
        }

        100% {
            top: 2em;
        }
    }

    /* DIFERENCIAIS */

    section.diferenciais {
        padding: 2em 5%;
        background-color: #001233;
    }

    section.diferenciais .flex {
        gap: 5%;
    }

    .diferenciais .diferenciais-box {
        color: white;
        padding: 5%;
        margin-top: 5%;
        border-radius: 5px;
        border: 2px solid transparent;
    }

    .diferenciais .diferenciais-box:hover {
        transform: scale(1.05);
        border: 2px solid #EE9B00;
        transition: 0.5s;
    }

    .diferenciais .diferenciais-box i {
        font-size: 70px;
        color: #EE9B00;
    }

    .diferenciais .diferenciais-box h3 {
        font-size: 35px;
        margin: 5% 0;
    }

    /* sobre */

    section.sobre {
        padding: 5em 5%;
    }

    section.sobre .img-sobre img {
        border-radius: 10px;
        width: 25em;
    }

    section.sobre .flex {
        align-items: center;
        gap: 3%;
    }

    .sobre .txt-sobre {
        color: white;
    }

    .sobre .txt-sobre h2 {
        font-size: 40px;
        line-height: 97%;
        margin-bottom: 4%;
    }

    .sobre .txt-sobre h2 span {
        color: #EE9B00;
        display: block;
    }

    .sobre .txt-sobre p {
        margin: 3% 0;
        text-align: justify;
    }

    /* portifolio */

    section.portifolio {
        padding: 4em 4%;
        background-color: #001233;
    }

    section.portifolio .flex {
        justify-content: space-around;
    }

    .img-port {
        width: 360px;
        height: 460px;
        margin-top: 4%;
        background-size: cover;
        background-position: 100% 0%;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }

    .img-port:hover {
        background-position: 100% 100%;
        transition: 5s;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.438);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        color: white;
        font-size: 30px;
        transition: 1s;
        font-weight: 600;
    }

    .overlay:hover {
        opacity: 1;
    }

    /* formulario */

    section.formulario {
        padding: 4em 5%;
    }

    form {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        margin-top: 5%;
    }

    form input,
    textarea {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.726);
        border: 0;
        outline: 0;
        border-radius: 5px;
        color: white;
        padding: 2% 2%;
        font-size: 15px;
    }

    form textarea {
        resize: none;
        height: 7em;
    }

    form .btn-enviar input {
        background-color: #EE9B00;
        color: black;
        font-weight: 900;
        padding: 1.5%;
        cursor: pointer;
        transition: 0.2s;
    }

    /* footer */

    footer {
        padding: 1em 5%;
        background-color: #000814;
    }

    footer .flex {
        justify-content: space-between;
    }

    footer .line-footer {
        padding: 3% 0;
    }

    footer .line-footer p {
        color: #EE9B00;
    }

    footer .line-footer p i {
        font-size: 22px;
    }

    footer .line-footer a {
        text-decoration: none;
        font-size: 22px;
        color: white;
    }

    .borda {
        border-top: 2px solid #EE9B00;
    }

    footer .icon-social {
        width: 20%;
    }

    footer .icon-social i {
        color: #EE9B00;
        font-size: 35px;
        transition: 0.2s;
    }

    footer .icon-social a {
        margin: 0% 3%;
    }

    footer .icon-social i:hover {
        transform: scale(1.05);
    }

    /* responsividade */

    @media screen and (max-width: 1020px) {

        /* geral */
        .flex {
            flex-direction: column;
        }

        .titulo,
        h1,
        h2 {
            text-align: center;
        }

        section.topo-site,
        section.diferenciais,
        section.sobre,
        section.portifolio,
        section.formulario {
            padding: 3em 5%;
        }
        .btn-abrir-menu i{
            display: block;
        }

        /* cabeçalho */
        .menu-desktop,
        .btn-contato {
            display: none;
        }

        /* topo do site */
        section.topo-site .flex {
            flex-direction: column-reverse;
            gap: 1.5em;
        }

        .topo-site p {
            text-align: justify;
        }

        .topo-site .img-topo-site img {
            width: 100%;
        }

        /* sobre */
        section.sobre .flex {
            gap: 1em;
        }

        section.sobre .img-sobre img {
            width: 19em;
        }

        .btn-social {
            text-align: center;
        }

        .btn-social button {
            width: 2em;
        }

        /* portifolio */
        .img-port {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
        }

        section.portifolio .flex {
            gap: 2em;
        }

        /* formulario */
        form {
            max-width: 100%;
        }
        form input{
            padding: 5% 2%;
        }

        form input,
        textarea {
            font-size: 100%;
        }

        /* footer */
        footer .line-footer {
            text-align: center;
        }

        footer .line-footer a {
            font-size: 1em;
        }

        footer .flex .icon-social {
            width: 100%;
            margin-top: 5%;
        }
    }